{% extends "layout.twig" %}
{% block content %}

<header class="container page-wrap  home-page">
	<div class="theme-header flex-container">
		<div class="brand flex-item">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile", "showTplWidget": "0"})|raw}}
		</div>
		<nav class="flex-item">
			{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
		</nav>
	</div>
</header>

<section class="section main home-page clearfix">
    
    <div class="container">
        {{widget('responsiveslideshow', 'homeslideshow', {'duration':'3', 'transSpeed': '1000', 'transType': 'fade', 'showButtons': true, 'showBullets': false, 'allowPause': true, 'allowLoop': true, crop: true, 'images':[{'imageHeight':'350', 'imageWidth':'300', 'url':asset('images/image-1.jpg'), 'title':'test title', 'description': 'test desc'},{'imageHeight':'350', 'imageWidth':'300', 'url':asset('images/image-2.jpg'), 'title':'test title', 'description': 'test desc'}]})|raw}}
    </div>

    {{zone('main')|raw}}
    
</section>

{% endblock %}
